@model TicketManagement.BusinessLogic.Entities.TMUser;

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User info</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <ul>
        <li>Model.UserName</li>
    </ul>
</div>