<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Copy of Microsoft Managed Recommended Rules" Description="These rules focus on the most critical problems in your code, including potential security holes, application crashes, and other important logic and design errors. You should include this rule set in any custom rule set you create for your projects." ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CS1591" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="AD0001" Action="Info" />
    <Rule Id="CS0078" Action="Info" />
    <Rule Id="CS0105" Action="Info" />
    <Rule Id="CS0108" Action="Info" />
    <Rule Id="CS0109" Action="Info" />
    <Rule Id="CS0114" Action="Info" />
    <Rule Id="CS0162" Action="Info" />
    <Rule Id="CS0164" Action="Info" />
    <Rule Id="CS0168" Action="Info" />
    <Rule Id="CS0183" Action="Info" />
    <Rule Id="CS0184" Action="Info" />
    <Rule Id="CS0197" Action="Info" />
    <Rule Id="CS0219" Action="Info" />
    <Rule Id="CS0251" Action="Info" />
    <Rule Id="CS0252" Action="Info" />
    <Rule Id="CS0253" Action="Info" />
    <Rule Id="CS0278" Action="Info" />
    <Rule Id="CS0279" Action="Info" />
    <Rule Id="CS0280" Action="Info" />
    <Rule Id="CS0282" Action="Info" />
    <Rule Id="CS0419" Action="Info" />
    <Rule Id="CS0420" Action="Info" />
    <Rule Id="CS0435" Action="Info" />
    <Rule Id="CS0436" Action="Info" />
    <Rule Id="CS0437" Action="Info" />
    <Rule Id="CS0440" Action="Info" />
    <Rule Id="CS0458" Action="Info" />
    <Rule Id="CS0464" Action="Info" />
    <Rule Id="CS0465" Action="Info" />
    <Rule Id="CS0469" Action="Info" />
    <Rule Id="CS0472" Action="Info" />
    <Rule Id="CS0473" Action="Info" />
    <Rule Id="CS0612" Action="Info" />
    <Rule Id="CS0618" Action="Info" />
    <Rule Id="CS0626" Action="Info" />
    <Rule Id="CS0628" Action="Info" />
    <Rule Id="CS0642" Action="Info" />
    <Rule Id="CS0652" Action="Info" />
    <Rule Id="CS0657" Action="Info" />
    <Rule Id="CS0658" Action="Info" />
    <Rule Id="CS0659" Action="Info" />
    <Rule Id="CS0660" Action="Info" />
    <Rule Id="CS0661" Action="Info" />
    <Rule Id="CS0665" Action="Info" />
    <Rule Id="CS0672" Action="Info" />
    <Rule Id="CS0675" Action="Info" />
    <Rule Id="CS0684" Action="Info" />
    <Rule Id="CS0693" Action="Info" />
    <Rule Id="CS0728" Action="Info" />
    <Rule Id="CS0809" Action="Info" />
    <Rule Id="CS0811" Action="Info" />
    <Rule Id="CS0824" Action="Info" />
    <Rule Id="CS1030" Action="Info" />
    <Rule Id="CS1058" Action="Info" />
    <Rule Id="CS1062" Action="Info" />
    <Rule Id="CS1064" Action="Info" />
    <Rule Id="CS1066" Action="Info" />
    <Rule Id="CS1072" Action="Info" />
    <Rule Id="CS1522" Action="Info" />
    <Rule Id="CS1570" Action="Info" />
    <Rule Id="CS1571" Action="Info" />
    <Rule Id="CS1572" Action="Info" />
    <Rule Id="CS1573" Action="Info" />
    <Rule Id="CS1574" Action="Info" />
    <Rule Id="CS1580" Action="Info" />
    <Rule Id="CS1581" Action="Info" />
    <Rule Id="CS1584" Action="Info" />
    <Rule Id="CS1587" Action="Info" />
    <Rule Id="CS1589" Action="Info" />
    <Rule Id="CS1590" Action="Info" />
    <Rule Id="CS1591" Action="None" />
    <Rule Id="CS1592" Action="Info" />
    <Rule Id="CS1616" Action="Info" />
    <Rule Id="CS1633" Action="Info" />
    <Rule Id="CS1634" Action="Info" />
    <Rule Id="CS1635" Action="Info" />
    <Rule Id="CS1645" Action="Info" />
    <Rule Id="CS1658" Action="Info" />
    <Rule Id="CS1668" Action="Info" />
    <Rule Id="CS1685" Action="Info" />
    <Rule Id="CS1687" Action="Info" />
    <Rule Id="CS1690" Action="Info" />
    <Rule Id="CS1692" Action="Info" />
    <Rule Id="CS1695" Action="Info" />
    <Rule Id="CS1696" Action="Info" />
    <Rule Id="CS1697" Action="Info" />
    <Rule Id="CS1700" Action="Info" />
    <Rule Id="CS1701" Action="Info" />
    <Rule Id="CS1702" Action="Info" />
    <Rule Id="CS1710" Action="Info" />
    <Rule Id="CS1711" Action="Info" />
    <Rule Id="CS1712" Action="Info" />
    <Rule Id="CS1717" Action="Info" />
    <Rule Id="CS1718" Action="Info" />
    <Rule Id="CS1720" Action="Info" />
    <Rule Id="CS1723" Action="Info" />
    <Rule Id="CS1734" Action="Info" />
    <Rule Id="CS1735" Action="Info" />
    <Rule Id="CS1762" Action="Info" />
    <Rule Id="CS1927" Action="Info" />
    <Rule Id="CS1956" Action="Info" />
    <Rule Id="CS1957" Action="Info" />
    <Rule Id="CS1974" Action="Info" />
    <Rule Id="CS1981" Action="Info" />
    <Rule Id="CS1998" Action="Info" />
    <Rule Id="CS2002" Action="Info" />
    <Rule Id="CS2008" Action="Info" />
    <Rule Id="CS2023" Action="Info" />
    <Rule Id="CS2029" Action="Info" />
    <Rule Id="CS2038" Action="Info" />
    <Rule Id="CS3000" Action="Info" />
    <Rule Id="CS3001" Action="Info" />
    <Rule Id="CS3002" Action="Info" />
    <Rule Id="CS3003" Action="Info" />
    <Rule Id="CS3005" Action="Info" />
    <Rule Id="CS3006" Action="Info" />
    <Rule Id="CS3007" Action="Info" />
    <Rule Id="CS3008" Action="Info" />
    <Rule Id="CS3009" Action="Info" />
    <Rule Id="CS3010" Action="Info" />
    <Rule Id="CS3011" Action="Info" />
    <Rule Id="CS3012" Action="Info" />
    <Rule Id="CS3013" Action="Info" />
    <Rule Id="CS3014" Action="Info" />
    <Rule Id="CS3015" Action="Info" />
    <Rule Id="CS3016" Action="Info" />
    <Rule Id="CS3017" Action="Info" />
    <Rule Id="CS3018" Action="Info" />
    <Rule Id="CS3019" Action="Info" />
    <Rule Id="CS3021" Action="Info" />
    <Rule Id="CS3022" Action="Info" />
    <Rule Id="CS3023" Action="Info" />
    <Rule Id="CS3024" Action="Info" />
    <Rule Id="CS3026" Action="Info" />
    <Rule Id="CS3027" Action="Info" />
    <Rule Id="CS4014" Action="Info" />
    <Rule Id="CS4024" Action="Info" />
    <Rule Id="CS4025" Action="Info" />
    <Rule Id="CS4026" Action="Info" />
    <Rule Id="CS7033" Action="Info" />
    <Rule Id="CS7035" Action="Info" />
    <Rule Id="CS7080" Action="Info" />
    <Rule Id="CS7081" Action="Info" />
    <Rule Id="CS7082" Action="Info" />
    <Rule Id="CS7090" Action="Info" />
    <Rule Id="CS7095" Action="Info" />
    <Rule Id="CS8001" Action="Info" />
    <Rule Id="CS8002" Action="Info" />
    <Rule Id="CS8009" Action="Info" />
    <Rule Id="CS8012" Action="Info" />
    <Rule Id="CS8018" Action="Info" />
    <Rule Id="CS8019" Action="Info" />
    <Rule Id="CS8020" Action="Info" />
    <Rule Id="CS8021" Action="Info" />
    <Rule Id="CS8029" Action="Info" />
    <Rule Id="CS8032" Action="Info" />
    <Rule Id="CS8033" Action="Info" />
    <Rule Id="CS8034" Action="Info" />
    <Rule Id="CS8073" Action="Info" />
    <Rule Id="CS8094" Action="Info" />
    <Rule Id="CS8105" Action="Info" />
    <Rule Id="CS8123" Action="Info" />
    <Rule Id="CS8305" Action="Info" />
    <Rule Id="CS8321" Action="Info" />
    <Rule Id="CS8359" Action="Info" />
    <Rule Id="CS8360" Action="Info" />
    <Rule Id="CS8371" Action="Info" />
    <Rule Id="CS8383" Action="Info" />
    <Rule Id="CS8387" Action="Info" />
    <Rule Id="CS8424" Action="Info" />
    <Rule Id="CS8425" Action="Info" />
    <Rule Id="CS8509" Action="Info" />
    <Rule Id="CS8512" Action="Info" />
    <Rule Id="CS8513" Action="Info" />
    <Rule Id="CS8519" Action="Info" />
    <Rule Id="CS8520" Action="Info" />
    <Rule Id="CS8597" Action="Info" />
    <Rule Id="CS8600" Action="Info" />
    <Rule Id="CS8601" Action="Info" />
    <Rule Id="CS8602" Action="Info" />
    <Rule Id="CS8603" Action="Info" />
    <Rule Id="CS8604" Action="Info" />
    <Rule Id="CS8605" Action="Info" />
    <Rule Id="CS8607" Action="Info" />
    <Rule Id="CS8608" Action="Info" />
    <Rule Id="CS8609" Action="Info" />
    <Rule Id="CS8610" Action="Info" />
    <Rule Id="CS8611" Action="Info" />
    <Rule Id="CS8612" Action="Info" />
    <Rule Id="CS8613" Action="Info" />
    <Rule Id="CS8614" Action="Info" />
    <Rule Id="CS8615" Action="Info" />
    <Rule Id="CS8616" Action="Info" />
    <Rule Id="CS8617" Action="Info" />
    <Rule Id="CS8618" Action="Info" />
    <Rule Id="CS8619" Action="Info" />
    <Rule Id="CS8620" Action="Info" />
    <Rule Id="CS8621" Action="Info" />
    <Rule Id="CS8622" Action="Info" />
    <Rule Id="CS8624" Action="Info" />
    <Rule Id="CS8625" Action="Info" />
    <Rule Id="CS8629" Action="Info" />
    <Rule Id="CS8631" Action="Info" />
    <Rule Id="CS8632" Action="Info" />
    <Rule Id="CS8633" Action="Info" />
    <Rule Id="CS8634" Action="Info" />
    <Rule Id="CS8643" Action="Info" />
    <Rule Id="CS8644" Action="Info" />
    <Rule Id="CS8645" Action="Info" />
    <Rule Id="CS8655" Action="Info" />
    <Rule Id="CS8656" Action="Info" />
    <Rule Id="CS8667" Action="Info" />
    <Rule Id="CS8669" Action="Info" />
    <Rule Id="CS8670" Action="Info" />
    <Rule Id="CS8714" Action="Info" />
    <Rule Id="CS8762" Action="Info" />
    <Rule Id="CS8763" Action="Info" />
    <Rule Id="CS8764" Action="Info" />
    <Rule Id="CS8765" Action="Info" />
    <Rule Id="CS8766" Action="Info" />
    <Rule Id="CS8767" Action="Info" />
    <Rule Id="CS8768" Action="Info" />
    <Rule Id="CS8769" Action="Info" />
    <Rule Id="CS8770" Action="Info" />
    <Rule Id="CS8774" Action="Info" />
    <Rule Id="CS8775" Action="Info" />
    <Rule Id="CS8776" Action="Info" />
    <Rule Id="CS8777" Action="Info" />
    <Rule Id="CS8784" Action="Info" />
    <Rule Id="CS8785" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="None" />
    <Rule Id="IDE0002" Action="None" />
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0003WithoutSuggestion" Action="None" />
    <Rule Id="IDE0004" Action="None" />
    <Rule Id="IDE0004WithoutSuggestion" Action="None" />
    <Rule Id="IDE0005" Action="None" />
    <Rule Id="IDE0007" Action="None" />
    <Rule Id="IDE0007WithoutSuggestion" Action="None" />
    <Rule Id="IDE0008" Action="None" />
    <Rule Id="IDE0008WithoutSuggestion" Action="None" />
    <Rule Id="IDE0009" Action="None" />
    <Rule Id="IDE0009WithoutSuggestion" Action="None" />
    <Rule Id="IDE0010" Action="None" />
    <Rule Id="IDE0010WithoutSuggestion" Action="None" />
    <Rule Id="IDE0011" Action="None" />
    <Rule Id="IDE0011WithoutSuggestion" Action="None" />
    <Rule Id="IDE0016" Action="None" />
    <Rule Id="IDE0016WithoutSuggestion" Action="None" />
    <Rule Id="IDE0017" Action="None" />
    <Rule Id="IDE0017WithoutSuggestion" Action="None" />
    <Rule Id="IDE0018" Action="None" />
    <Rule Id="IDE0018WithoutSuggestion" Action="None" />
    <Rule Id="IDE0019" Action="None" />
    <Rule Id="IDE0019WithoutSuggestion" Action="None" />
    <Rule Id="IDE0020" Action="None" />
    <Rule Id="IDE0020WithoutSuggestion" Action="None" />
    <Rule Id="IDE0021" Action="None" />
    <Rule Id="IDE0022" Action="None" />
    <Rule Id="IDE0023" Action="None" />
    <Rule Id="IDE0024" Action="None" />
    <Rule Id="IDE0025" Action="None" />
    <Rule Id="IDE0026" Action="None" />
    <Rule Id="IDE0027" Action="None" />
    <Rule Id="IDE0028" Action="None" />
    <Rule Id="IDE0028WithoutSuggestion" Action="None" />
    <Rule Id="IDE0029" Action="None" />
    <Rule Id="IDE0029WithoutSuggestion" Action="None" />
    <Rule Id="IDE0030" Action="None" />
    <Rule Id="IDE0030WithoutSuggestion" Action="None" />
    <Rule Id="IDE0031" Action="None" />
    <Rule Id="IDE0031WithoutSuggestion" Action="None" />
    <Rule Id="IDE0032" Action="None" />
    <Rule Id="IDE0032WithoutSuggestion" Action="None" />
    <Rule Id="IDE0034" Action="None" />
    <Rule Id="IDE0034WithoutSuggestion" Action="None" />
    <Rule Id="IDE0035" Action="None" />
    <Rule Id="IDE0035WithoutSuggestion" Action="None" />
    <Rule Id="IDE0036" Action="None" />
    <Rule Id="IDE0036WithoutSuggestion" Action="None" />
    <Rule Id="IDE0037" Action="None" />
    <Rule Id="IDE0037WithoutSuggestion" Action="None" />
    <Rule Id="IDE0038" Action="None" />
    <Rule Id="IDE0038WithoutSuggestion" Action="None" />
    <Rule Id="IDE0039" Action="None" />
    <Rule Id="IDE0039WithoutSuggestion" Action="None" />
    <Rule Id="IDE0040" Action="None" />
    <Rule Id="IDE0040WithoutSuggestion" Action="None" />
    <Rule Id="IDE0041" Action="None" />
    <Rule Id="IDE0041WithoutSuggestion" Action="None" />
    <Rule Id="IDE0042" Action="None" />
    <Rule Id="IDE0042WithoutSuggestion" Action="None" />
    <Rule Id="IDE0043" Action="None" />
    <Rule Id="IDE0045" Action="None" />
    <Rule Id="IDE0045WithoutSuggestion" Action="None" />
    <Rule Id="IDE0046" Action="None" />
    <Rule Id="IDE0046WithoutSuggestion" Action="None" />
    <Rule Id="IDE0047" Action="None" />
    <Rule Id="IDE0048" Action="None" />
    <Rule Id="IDE0048WithoutSuggestion" Action="None" />
    <Rule Id="IDE0049" Action="None" />
    <Rule Id="IDE0049WithoutSuggestion" Action="None" />
    <Rule Id="IDE0050" Action="None" />
    <Rule Id="IDE0050WithoutSuggestion" Action="None" />
    <Rule Id="IDE0051" Action="None" />
    <Rule Id="IDE0052" Action="None" />
    <Rule Id="IDE0053" Action="None" />
    <Rule Id="IDE0053WithoutSuggestion" Action="None" />
    <Rule Id="IDE0054" Action="None" />
    <Rule Id="IDE0054WithoutSuggestion" Action="None" />
    <Rule Id="IDE0056" Action="None" />
    <Rule Id="IDE0056WithoutSuggestion" Action="None" />
    <Rule Id="IDE0057" Action="None" />
    <Rule Id="IDE0057WithoutSuggestion" Action="None" />
    <Rule Id="IDE0058" Action="None" />
    <Rule Id="IDE0059" Action="None" />
    <Rule Id="IDE0060" Action="None" />
    <Rule Id="IDE0061" Action="None" />
    <Rule Id="IDE0062" Action="None" />
    <Rule Id="IDE0062WithoutSuggestion" Action="None" />
    <Rule Id="IDE0063" Action="None" />
    <Rule Id="IDE0063WithoutSuggestion" Action="None" />
    <Rule Id="IDE0064" Action="None" />
    <Rule Id="IDE0065" Action="None" />
    <Rule Id="IDE0066" Action="None" />
    <Rule Id="IDE0066WithoutSuggestion" Action="None" />
    <Rule Id="IDE0071" Action="None" />
    <Rule Id="IDE0071WithoutSuggestion" Action="None" />
    <Rule Id="IDE0072" Action="None" />
    <Rule Id="IDE0072WithoutSuggestion" Action="None" />
    <Rule Id="IDE0073" Action="None" />
    <Rule Id="IDE0073WithoutSuggestion" Action="None" />
    <Rule Id="IDE0074" Action="None" />
    <Rule Id="IDE0074WithoutSuggestion" Action="None" />
    <Rule Id="IDE0075" Action="None" />
    <Rule Id="IDE0075WithoutSuggestion" Action="None" />
    <Rule Id="IDE1005" Action="None" />
    <Rule Id="IDE1005WithoutSuggestion" Action="None" />
    <Rule Id="IDE1006" Action="None" />
    <Rule Id="IDE1006WithoutSuggestion" Action="None" />
    <Rule Id="RE0001" Action="None" />
    <Rule Id="RE0001WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0033" Action="None" />
    <Rule Id="IDE0033WithoutSuggestion" Action="None" />
    <Rule Id="IDE0044" Action="None" />
    <Rule Id="IDE0044WithoutSuggestion" Action="None" />
    <Rule Id="IDE0055" Action="None" />
    <Rule Id="IDE0055WithoutSuggestion" Action="None" />
    <Rule Id="IDE0070" Action="None" />
    <Rule Id="IDE0070WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.VersionCheckAnalyzer" RuleNamespace="Microsoft.CodeAnalysis.VersionCheckAnalyzer">
    <Rule Id="CA9999" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1010" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1018" Action="None" />
    <Rule Id="CA1028" Action="None" />
    <Rule Id="CA1030" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1034" Action="None" />
    <Rule Id="CA1036" Action="None" />
    <Rule Id="CA1040" Action="None" />
    <Rule Id="CA1041" Action="None" />
    <Rule Id="CA1043" Action="None" />
    <Rule Id="CA1044" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1052" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1055" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1064" Action="None" />
    <Rule Id="CA1066" Action="None" />
    <Rule Id="CA1067" Action="None" />
    <Rule Id="CA1068" Action="None" />
    <Rule Id="CA1069" Action="None" />
    <Rule Id="CA1070" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1712" Action="None" />
    <Rule Id="CA1713" Action="None" />
    <Rule Id="CA1714" Action="None" />
    <Rule Id="CA1715" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1717" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1721" Action="None" />
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1801" Action="None" />
    <Rule Id="CA1802" Action="None" />
    <Rule Id="CA1805" Action="None" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1814" Action="None" />
    <Rule Id="CA1815" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1821" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1823" Action="None" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2011" Action="None" />
    <Rule Id="CA2119" Action="None" />
    <Rule Id="CA2211" Action="None" />
    <Rule Id="CA2214" Action="None" />
    <Rule Id="CA2219" Action="None" />
    <Rule Id="CA2225" Action="None" />
    <Rule Id="CA2226" Action="None" />
    <Rule Id="CA2227" Action="None" />
    <Rule Id="CA2231" Action="None" />
    <Rule Id="CA2244" Action="None" />
    <Rule Id="CA2245" Action="None" />
    <Rule Id="CA2246" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.CSharp.Analyzers" RuleNamespace="Microsoft.CodeQuality.CSharp.Analyzers">
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1065" Action="None" />
    <Rule Id="CA1200" Action="Info" />
    <Rule Id="CA1507" Action="Info" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA2200" Action="None" />
    <Rule Id="CA2234" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1307" Action="None" />
    <Rule Id="CA1308" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1417" Action="Info" />
    <Rule Id="CA1810" Action="None" />
    <Rule Id="CA1816" Action="None" />
    <Rule Id="CA1820" Action="None" />
    <Rule Id="CA1826" Action="Info" />
    <Rule Id="CA1827" Action="Info" />
    <Rule Id="CA1828" Action="Info" />
    <Rule Id="CA1829" Action="Info" />
    <Rule Id="CA1830" Action="Info" />
    <Rule Id="CA1831" Action="Info" />
    <Rule Id="CA1832" Action="Info" />
    <Rule Id="CA1833" Action="Info" />
    <Rule Id="CA1834" Action="Info" />
    <Rule Id="CA1835" Action="Info" />
    <Rule Id="CA1836" Action="Info" />
    <Rule Id="CA1837" Action="Info" />
    <Rule Id="CA1838" Action="Info" />
    <Rule Id="CA2000" Action="None" />
    <Rule Id="CA2002" Action="None" />
    <Rule Id="CA2008" Action="Info" />
    <Rule Id="CA2009" Action="Info" />
    <Rule Id="CA2012" Action="Info" />
    <Rule Id="CA2013" Action="Info" />
    <Rule Id="CA2014" Action="Info" />
    <Rule Id="CA2015" Action="Info" />
    <Rule Id="CA2100" Action="None" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2207" Action="None" />
    <Rule Id="CA2208" Action="None" />
    <Rule Id="CA2213" Action="None" />
    <Rule Id="CA2215" Action="None" />
    <Rule Id="CA2216" Action="None" />
    <Rule Id="CA2229" Action="None" />
    <Rule Id="CA2235" Action="None" />
    <Rule Id="CA2237" Action="None" />
    <Rule Id="CA2241" Action="None" />
    <Rule Id="CA2242" Action="None" />
    <Rule Id="CA2243" Action="None" />
    <Rule Id="CA2247" Action="Info" />
    <Rule Id="CA2248" Action="Info" />
    <Rule Id="CA2249" Action="Info" />
    <Rule Id="CA2300" Action="Info" />
    <Rule Id="CA2301" Action="Info" />
    <Rule Id="CA2302" Action="Info" />
    <Rule Id="CA2305" Action="Info" />
    <Rule Id="CA2310" Action="Info" />
    <Rule Id="CA2311" Action="Info" />
    <Rule Id="CA2312" Action="Info" />
    <Rule Id="CA2315" Action="Info" />
    <Rule Id="CA2321" Action="Info" />
    <Rule Id="CA2322" Action="Info" />
    <Rule Id="CA2326" Action="Info" />
    <Rule Id="CA2327" Action="Info" />
    <Rule Id="CA2328" Action="Info" />
    <Rule Id="CA2329" Action="Info" />
    <Rule Id="CA2330" Action="Info" />
    <Rule Id="CA2350" Action="Info" />
    <Rule Id="CA2351" Action="Info" />
    <Rule Id="CA2352" Action="Info" />
    <Rule Id="CA2353" Action="Info" />
    <Rule Id="CA2354" Action="Info" />
    <Rule Id="CA2355" Action="Info" />
    <Rule Id="CA2356" Action="Info" />
    <Rule Id="CA2361" Action="Info" />
    <Rule Id="CA2362" Action="Info" />
    <Rule Id="CA3001" Action="Info" />
    <Rule Id="CA3002" Action="Info" />
    <Rule Id="CA3003" Action="Info" />
    <Rule Id="CA3004" Action="Info" />
    <Rule Id="CA3005" Action="Info" />
    <Rule Id="CA3006" Action="Info" />
    <Rule Id="CA3007" Action="Info" />
    <Rule Id="CA3008" Action="Info" />
    <Rule Id="CA3009" Action="Info" />
    <Rule Id="CA3010" Action="Info" />
    <Rule Id="CA3011" Action="Info" />
    <Rule Id="CA3012" Action="Info" />
    <Rule Id="CA3061" Action="Info" />
    <Rule Id="CA5350" Action="Info" />
    <Rule Id="CA5351" Action="Info" />
    <Rule Id="CA5358" Action="Info" />
    <Rule Id="CA5359" Action="Info" />
    <Rule Id="CA5360" Action="Info" />
    <Rule Id="CA5361" Action="Info" />
    <Rule Id="CA5362" Action="Info" />
    <Rule Id="CA5363" Action="Info" />
    <Rule Id="CA5364" Action="Info" />
    <Rule Id="CA5365" Action="Info" />
    <Rule Id="CA5366" Action="Info" />
    <Rule Id="CA5367" Action="Info" />
    <Rule Id="CA5368" Action="Info" />
    <Rule Id="CA5369" Action="Info" />
    <Rule Id="CA5370" Action="Info" />
    <Rule Id="CA5371" Action="Info" />
    <Rule Id="CA5372" Action="Info" />
    <Rule Id="CA5373" Action="Info" />
    <Rule Id="CA5374" Action="Info" />
    <Rule Id="CA5375" Action="Info" />
    <Rule Id="CA5376" Action="Info" />
    <Rule Id="CA5377" Action="Info" />
    <Rule Id="CA5378" Action="Info" />
    <Rule Id="CA5379" Action="Info" />
    <Rule Id="CA5380" Action="Info" />
    <Rule Id="CA5381" Action="Info" />
    <Rule Id="CA5382" Action="Info" />
    <Rule Id="CA5383" Action="Info" />
    <Rule Id="CA5384" Action="Info" />
    <Rule Id="CA5385" Action="Info" />
    <Rule Id="CA5386" Action="Info" />
    <Rule Id="CA5387" Action="Info" />
    <Rule Id="CA5388" Action="Info" />
    <Rule Id="CA5389" Action="Info" />
    <Rule Id="CA5390" Action="Info" />
    <Rule Id="CA5391" Action="Info" />
    <Rule Id="CA5392" Action="Info" />
    <Rule Id="CA5393" Action="Info" />
    <Rule Id="CA5394" Action="Info" />
    <Rule Id="CA5395" Action="Info" />
    <Rule Id="CA5396" Action="Info" />
    <Rule Id="CA5397" Action="Info" />
    <Rule Id="CA5398" Action="Info" />
    <Rule Id="CA5399" Action="Info" />
    <Rule Id="CA5400" Action="Info" />
    <Rule Id="CA5401" Action="Info" />
    <Rule Id="CA5402" Action="Info" />
    <Rule Id="CA5403" Action="Info" />
    <Rule Id="IL3000" Action="Info" />
    <Rule Id="IL3001" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.CSharp.Analyzers" RuleNamespace="Microsoft.NetCore.CSharp.Analyzers">
    <Rule Id="CA1824" Action="None" />
    <Rule Id="CA1825" Action="Info" />
    <Rule Id="CA2016" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetFramework.Analyzers" RuleNamespace="Microsoft.NetFramework.Analyzers">
    <Rule Id="CA1058" Action="None" />
    <Rule Id="CA2153" Action="Info" />
    <Rule Id="CA3075" Action="Info" />
    <Rule Id="CA3147" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetFramework.CSharp.Analyzers" RuleNamespace="Microsoft.NetFramework.CSharp.Analyzers">
    <Rule Id="CA3076" Action="Info" />
    <Rule Id="CA3077" Action="Info" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S100" Action="Info" />
    <Rule Id="S1006" Action="Info" />
    <Rule Id="S101" Action="Info" />
    <Rule Id="S103" Action="Info" />
    <Rule Id="S104" Action="Info" />
    <Rule Id="S1048" Action="Info" />
    <Rule Id="S105" Action="Info" />
    <Rule Id="S106" Action="Info" />
    <Rule Id="S1066" Action="Info" />
    <Rule Id="S1067" Action="Info" />
    <Rule Id="S107" Action="Info" />
    <Rule Id="S1075" Action="Info" />
    <Rule Id="S108" Action="Info" />
    <Rule Id="S109" Action="Info" />
    <Rule Id="S110" Action="Info" />
    <Rule Id="S1104" Action="Info" />
    <Rule Id="S1109" Action="Info" />
    <Rule Id="S1110" Action="Info" />
    <Rule Id="S1116" Action="Info" />
    <Rule Id="S1117" Action="Info" />
    <Rule Id="S1118" Action="Info" />
    <Rule Id="S112" Action="Info" />
    <Rule Id="S1121" Action="Info" />
    <Rule Id="S1123" Action="Info" />
    <Rule Id="S1125" Action="Info" />
    <Rule Id="S1128" Action="Info" />
    <Rule Id="S113" Action="Info" />
    <Rule Id="S1134" Action="Info" />
    <Rule Id="S1135" Action="Info" />
    <Rule Id="S1145" Action="Info" />
    <Rule Id="S1147" Action="Info" />
    <Rule Id="S1151" Action="Info" />
    <Rule Id="S1155" Action="Info" />
    <Rule Id="S1163" Action="Info" />
    <Rule Id="S1168" Action="Info" />
    <Rule Id="S1172" Action="Info" />
    <Rule Id="S1185" Action="Info" />
    <Rule Id="S1186" Action="Info" />
    <Rule Id="S1192" Action="Info" />
    <Rule Id="S1199" Action="Info" />
    <Rule Id="S1200" Action="Info" />
    <Rule Id="S1206" Action="Info" />
    <Rule Id="S121" Action="Info" />
    <Rule Id="S1210" Action="Info" />
    <Rule Id="S1215" Action="Info" />
    <Rule Id="S122" Action="Info" />
    <Rule Id="S1226" Action="Info" />
    <Rule Id="S1227" Action="Info" />
    <Rule Id="S1244" Action="Info" />
    <Rule Id="S125" Action="Info" />
    <Rule Id="S126" Action="Info" />
    <Rule Id="S1264" Action="Info" />
    <Rule Id="S127" Action="Info" />
    <Rule Id="S1301" Action="Info" />
    <Rule Id="S1309" Action="Info" />
    <Rule Id="S131" Action="Info" />
    <Rule Id="S1313" Action="Info" />
    <Rule Id="S134" Action="Info" />
    <Rule Id="S138" Action="Info" />
    <Rule Id="S1449" Action="Info" />
    <Rule Id="S1450" Action="Info" />
    <Rule Id="S1451" Action="Info" />
    <Rule Id="S1479" Action="Info" />
    <Rule Id="S1481" Action="Info" />
    <Rule Id="S1505" Action="Info" />
    <Rule Id="S1541" Action="Info" />
    <Rule Id="S1607" Action="Info" />
    <Rule Id="S1643" Action="Info" />
    <Rule Id="S1656" Action="Info" />
    <Rule Id="S1659" Action="Info" />
    <Rule Id="S1694" Action="Info" />
    <Rule Id="S1696" Action="Info" />
    <Rule Id="S1697" Action="Info" />
    <Rule Id="S1698" Action="Info" />
    <Rule Id="S1699" Action="Info" />
    <Rule Id="S1751" Action="Info" />
    <Rule Id="S1764" Action="Info" />
    <Rule Id="S1821" Action="Info" />
    <Rule Id="S1848" Action="Info" />
    <Rule Id="S1854" Action="Info" />
    <Rule Id="S1858" Action="Info" />
    <Rule Id="S1862" Action="Info" />
    <Rule Id="S1871" Action="Info" />
    <Rule Id="S1905" Action="Info" />
    <Rule Id="S1939" Action="Info" />
    <Rule Id="S1940" Action="Info" />
    <Rule Id="S1944" Action="Info" />
    <Rule Id="S1994" Action="Info" />
    <Rule Id="S2070" Action="Info" />
    <Rule Id="S2114" Action="Info" />
    <Rule Id="S2123" Action="Info" />
    <Rule Id="S2148" Action="Info" />
    <Rule Id="S2156" Action="Info" />
    <Rule Id="S2178" Action="Info" />
    <Rule Id="S2183" Action="Info" />
    <Rule Id="S2184" Action="Info" />
    <Rule Id="S2187" Action="Info" />
    <Rule Id="S2190" Action="Info" />
    <Rule Id="S2197" Action="Info" />
    <Rule Id="S2201" Action="Info" />
    <Rule Id="S2219" Action="Info" />
    <Rule Id="S2221" Action="Info" />
    <Rule Id="S2223" Action="Info" />
    <Rule Id="S2225" Action="Info" />
    <Rule Id="S2228" Action="Info" />
    <Rule Id="S2234" Action="Info" />
    <Rule Id="S2251" Action="Info" />
    <Rule Id="S2252" Action="Info" />
    <Rule Id="S2259" Action="Info" />
    <Rule Id="S2275" Action="Info" />
    <Rule Id="S2278" Action="Info" />
    <Rule Id="S2290" Action="Info" />
    <Rule Id="S2291" Action="Info" />
    <Rule Id="S2292" Action="Info" />
    <Rule Id="S2302" Action="Info" />
    <Rule Id="S2306" Action="Info" />
    <Rule Id="S2325" Action="Info" />
    <Rule Id="S2326" Action="Info" />
    <Rule Id="S2327" Action="Info" />
    <Rule Id="S2328" Action="Info" />
    <Rule Id="S2330" Action="Info" />
    <Rule Id="S2333" Action="Info" />
    <Rule Id="S2339" Action="Info" />
    <Rule Id="S2342" Action="Info" />
    <Rule Id="S2344" Action="Info" />
    <Rule Id="S2345" Action="Info" />
    <Rule Id="S2346" Action="Info" />
    <Rule Id="S2357" Action="Info" />
    <Rule Id="S2360" Action="Info" />
    <Rule Id="S2365" Action="Info" />
    <Rule Id="S2368" Action="Info" />
    <Rule Id="S2372" Action="Info" />
    <Rule Id="S2376" Action="Info" />
    <Rule Id="S2386" Action="Info" />
    <Rule Id="S2387" Action="Info" />
    <Rule Id="S2436" Action="Info" />
    <Rule Id="S2479" Action="Info" />
    <Rule Id="S2486" Action="Info" />
    <Rule Id="S2551" Action="Info" />
    <Rule Id="S2583" Action="Info" />
    <Rule Id="S2589" Action="Info" />
    <Rule Id="S2674" Action="Info" />
    <Rule Id="S2681" Action="Info" />
    <Rule Id="S2688" Action="Info" />
    <Rule Id="S2692" Action="Info" />
    <Rule Id="S2696" Action="Info" />
    <Rule Id="S2699" Action="Info" />
    <Rule Id="S2701" Action="Info" />
    <Rule Id="S2737" Action="Info" />
    <Rule Id="S2743" Action="Info" />
    <Rule Id="S2755" Action="Info" />
    <Rule Id="S2757" Action="Info" />
    <Rule Id="S2758" Action="Info" />
    <Rule Id="S2760" Action="Info" />
    <Rule Id="S2761" Action="Info" />
    <Rule Id="S2857" Action="Info" />
    <Rule Id="S2930" Action="Info" />
    <Rule Id="S2931" Action="Info" />
    <Rule Id="S2933" Action="Info" />
    <Rule Id="S2934" Action="Info" />
    <Rule Id="S2952" Action="Info" />
    <Rule Id="S2953" Action="Info" />
    <Rule Id="S2955" Action="Info" />
    <Rule Id="S2971" Action="Info" />
    <Rule Id="S2995" Action="Info" />
    <Rule Id="S2996" Action="Info" />
    <Rule Id="S2997" Action="Info" />
    <Rule Id="S3005" Action="Info" />
    <Rule Id="S3010" Action="Info" />
    <Rule Id="S3052" Action="Info" />
    <Rule Id="S3060" Action="Info" />
    <Rule Id="S3168" Action="Info" />
    <Rule Id="S3169" Action="Info" />
    <Rule Id="S3172" Action="Info" />
    <Rule Id="S3215" Action="Info" />
    <Rule Id="S3216" Action="Info" />
    <Rule Id="S3217" Action="Info" />
    <Rule Id="S3218" Action="Info" />
    <Rule Id="S3220" Action="Info" />
    <Rule Id="S3234" Action="Info" />
    <Rule Id="S3235" Action="Info" />
    <Rule Id="S3236" Action="Info" />
    <Rule Id="S3237" Action="Info" />
    <Rule Id="S3240" Action="Info" />
    <Rule Id="S3241" Action="Info" />
    <Rule Id="S3242" Action="Info" />
    <Rule Id="S3244" Action="Info" />
    <Rule Id="S3246" Action="Info" />
    <Rule Id="S3247" Action="Info" />
    <Rule Id="S3249" Action="Info" />
    <Rule Id="S3251" Action="Info" />
    <Rule Id="S3253" Action="Info" />
    <Rule Id="S3254" Action="Info" />
    <Rule Id="S3256" Action="Info" />
    <Rule Id="S3257" Action="Info" />
    <Rule Id="S3261" Action="Info" />
    <Rule Id="S3262" Action="Info" />
    <Rule Id="S3263" Action="Info" />
    <Rule Id="S3264" Action="Info" />
    <Rule Id="S3265" Action="Info" />
    <Rule Id="S3343" Action="Info" />
    <Rule Id="S3346" Action="Info" />
    <Rule Id="S3353" Action="Info" />
    <Rule Id="S3358" Action="Info" />
    <Rule Id="S3366" Action="Info" />
    <Rule Id="S3376" Action="Info" />
    <Rule Id="S3397" Action="Info" />
    <Rule Id="S3400" Action="Info" />
    <Rule Id="S3415" Action="Info" />
    <Rule Id="S3427" Action="Info" />
    <Rule Id="S3431" Action="Info" />
    <Rule Id="S3433" Action="Info" />
    <Rule Id="S3440" Action="Info" />
    <Rule Id="S3441" Action="Info" />
    <Rule Id="S3442" Action="Info" />
    <Rule Id="S3443" Action="Info" />
    <Rule Id="S3444" Action="Info" />
    <Rule Id="S3445" Action="Info" />
    <Rule Id="S3447" Action="Info" />
    <Rule Id="S3449" Action="Info" />
    <Rule Id="S3450" Action="Info" />
    <Rule Id="S3451" Action="Info" />
    <Rule Id="S3453" Action="Info" />
    <Rule Id="S3456" Action="Info" />
    <Rule Id="S3457" Action="Info" />
    <Rule Id="S3458" Action="Info" />
    <Rule Id="S3459" Action="Info" />
    <Rule Id="S3464" Action="Info" />
    <Rule Id="S3466" Action="Info" />
    <Rule Id="S3532" Action="Info" />
    <Rule Id="S3597" Action="Info" />
    <Rule Id="S3598" Action="Info" />
    <Rule Id="S3600" Action="Info" />
    <Rule Id="S3603" Action="Info" />
    <Rule Id="S3604" Action="Info" />
    <Rule Id="S3610" Action="Info" />
    <Rule Id="S3626" Action="Info" />
    <Rule Id="S3655" Action="Info" />
    <Rule Id="S3693" Action="Info" />
    <Rule Id="S3717" Action="Info" />
    <Rule Id="S3776" Action="Info" />
    <Rule Id="S3869" Action="Info" />
    <Rule Id="S3871" Action="Info" />
    <Rule Id="S3872" Action="Info" />
    <Rule Id="S3874" Action="Info" />
    <Rule Id="S3875" Action="Info" />
    <Rule Id="S3876" Action="Info" />
    <Rule Id="S3877" Action="Info" />
    <Rule Id="S3880" Action="Info" />
    <Rule Id="S3881" Action="Info" />
    <Rule Id="S3884" Action="Info" />
    <Rule Id="S3885" Action="Info" />
    <Rule Id="S3887" Action="Info" />
    <Rule Id="S3889" Action="Info" />
    <Rule Id="S3897" Action="Info" />
    <Rule Id="S3898" Action="Info" />
    <Rule Id="S3900" Action="Info" />
    <Rule Id="S3902" Action="Info" />
    <Rule Id="S3903" Action="Info" />
    <Rule Id="S3904" Action="Info" />
    <Rule Id="S3906" Action="Info" />
    <Rule Id="S3908" Action="Info" />
    <Rule Id="S3909" Action="Info" />
    <Rule Id="S3923" Action="Info" />
    <Rule Id="S3925" Action="Info" />
    <Rule Id="S3926" Action="Info" />
    <Rule Id="S3927" Action="Info" />
    <Rule Id="S3928" Action="Info" />
    <Rule Id="S3937" Action="Info" />
    <Rule Id="S3956" Action="Info" />
    <Rule Id="S3962" Action="Info" />
    <Rule Id="S3963" Action="Info" />
    <Rule Id="S3966" Action="Info" />
    <Rule Id="S3967" Action="Info" />
    <Rule Id="S3971" Action="Info" />
    <Rule Id="S3972" Action="Info" />
    <Rule Id="S3973" Action="Info" />
    <Rule Id="S3981" Action="Info" />
    <Rule Id="S3984" Action="Info" />
    <Rule Id="S3990" Action="Info" />
    <Rule Id="S3992" Action="Info" />
    <Rule Id="S3993" Action="Info" />
    <Rule Id="S3994" Action="Info" />
    <Rule Id="S3995" Action="Info" />
    <Rule Id="S3996" Action="Info" />
    <Rule Id="S3997" Action="Info" />
    <Rule Id="S3998" Action="Info" />
    <Rule Id="S4000" Action="Info" />
    <Rule Id="S4002" Action="Info" />
    <Rule Id="S4004" Action="Info" />
    <Rule Id="S4005" Action="Info" />
    <Rule Id="S4015" Action="Info" />
    <Rule Id="S4016" Action="Info" />
    <Rule Id="S4017" Action="Info" />
    <Rule Id="S4018" Action="Info" />
    <Rule Id="S4019" Action="Info" />
    <Rule Id="S4022" Action="Info" />
    <Rule Id="S4023" Action="Info" />
    <Rule Id="S4025" Action="Info" />
    <Rule Id="S4026" Action="Info" />
    <Rule Id="S4027" Action="Info" />
    <Rule Id="S4035" Action="Info" />
    <Rule Id="S4039" Action="Info" />
    <Rule Id="S4040" Action="Info" />
    <Rule Id="S4041" Action="Info" />
    <Rule Id="S4047" Action="Info" />
    <Rule Id="S4049" Action="Info" />
    <Rule Id="S4050" Action="Info" />
    <Rule Id="S4052" Action="Info" />
    <Rule Id="S4055" Action="Info" />
    <Rule Id="S4056" Action="Info" />
    <Rule Id="S4057" Action="Info" />
    <Rule Id="S4058" Action="Info" />
    <Rule Id="S4059" Action="Info" />
    <Rule Id="S4060" Action="Info" />
    <Rule Id="S4061" Action="Info" />
    <Rule Id="S4069" Action="Info" />
    <Rule Id="S4070" Action="Info" />
    <Rule Id="S4136" Action="Info" />
    <Rule Id="S4142" Action="Info" />
    <Rule Id="S4143" Action="Info" />
    <Rule Id="S4144" Action="Info" />
    <Rule Id="S4158" Action="Info" />
    <Rule Id="S4159" Action="Info" />
    <Rule Id="S4200" Action="Info" />
    <Rule Id="S4201" Action="Info" />
    <Rule Id="S4210" Action="Info" />
    <Rule Id="S4211" Action="Info" />
    <Rule Id="S4212" Action="Info" />
    <Rule Id="S4214" Action="Info" />
    <Rule Id="S4220" Action="Info" />
    <Rule Id="S4225" Action="Info" />
    <Rule Id="S4226" Action="Info" />
    <Rule Id="S4260" Action="Info" />
    <Rule Id="S4261" Action="Info" />
    <Rule Id="S4275" Action="Info" />
    <Rule Id="S4277" Action="Info" />
    <Rule Id="S4426" Action="Info" />
    <Rule Id="S4428" Action="Info" />
    <Rule Id="S4432" Action="Info" />
    <Rule Id="S4433" Action="Info" />
    <Rule Id="S4456" Action="Info" />
    <Rule Id="S4457" Action="Info" />
    <Rule Id="S4462" Action="Info" />
    <Rule Id="S4524" Action="Info" />
    <Rule Id="S4564" Action="Info" />
    <Rule Id="S4581" Action="Info" />
    <Rule Id="S4583" Action="Info" />
    <Rule Id="S4586" Action="Info" />
    <Rule Id="S4635" Action="Info" />
    <Rule Id="S4830" Action="Info" />
    <Rule Id="S5034" Action="Info" />
    <Rule Id="S5542" Action="Info" />
    <Rule Id="S5547" Action="Info" />
    <Rule Id="S5773" Action="Info" />
    <Rule Id="S818" Action="Info" />
    <Rule Id="S881" Action="Info" />
    <Rule Id="S907" Action="Info" />
    <Rule Id="S927" Action="Info" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="Info" />
    <Rule Id="SA0002" Action="Info" />
    <Rule Id="SA1000" Action="Info" />
    <Rule Id="SA1001" Action="Info" />
    <Rule Id="SA1002" Action="Info" />
    <Rule Id="SA1003" Action="Info" />
    <Rule Id="SA1004" Action="Info" />
    <Rule Id="SA1005" Action="Info" />
    <Rule Id="SA1006" Action="Info" />
    <Rule Id="SA1007" Action="Info" />
    <Rule Id="SA1008" Action="Info" />
    <Rule Id="SA1009" Action="Info" />
    <Rule Id="SA1010" Action="Info" />
    <Rule Id="SA1011" Action="Info" />
    <Rule Id="SA1012" Action="Info" />
    <Rule Id="SA1013" Action="Info" />
    <Rule Id="SA1014" Action="Info" />
    <Rule Id="SA1015" Action="Info" />
    <Rule Id="SA1016" Action="Info" />
    <Rule Id="SA1017" Action="Info" />
    <Rule Id="SA1018" Action="Info" />
    <Rule Id="SA1019" Action="Info" />
    <Rule Id="SA1020" Action="Info" />
    <Rule Id="SA1021" Action="Info" />
    <Rule Id="SA1022" Action="Info" />
    <Rule Id="SA1023" Action="Info" />
    <Rule Id="SA1024" Action="Info" />
    <Rule Id="SA1025" Action="Info" />
    <Rule Id="SA1026" Action="Info" />
    <Rule Id="SA1027" Action="Info" />
    <Rule Id="SA1028" Action="Info" />
    <Rule Id="SA1100" Action="Info" />
    <Rule Id="SA1101" Action="Info" />
    <Rule Id="SA1102" Action="Info" />
    <Rule Id="SA1103" Action="Info" />
    <Rule Id="SA1104" Action="Info" />
    <Rule Id="SA1105" Action="Info" />
    <Rule Id="SA1106" Action="Info" />
    <Rule Id="SA1107" Action="Info" />
    <Rule Id="SA1108" Action="Info" />
    <Rule Id="SA1110" Action="Info" />
    <Rule Id="SA1111" Action="Info" />
    <Rule Id="SA1112" Action="Info" />
    <Rule Id="SA1113" Action="Info" />
    <Rule Id="SA1114" Action="Info" />
    <Rule Id="SA1115" Action="Info" />
    <Rule Id="SA1116" Action="Info" />
    <Rule Id="SA1117" Action="Info" />
    <Rule Id="SA1118" Action="Info" />
    <Rule Id="SA1119" Action="Info" />
    <Rule Id="SA1120" Action="Info" />
    <Rule Id="SA1121" Action="Info" />
    <Rule Id="SA1122" Action="Info" />
    <Rule Id="SA1123" Action="Info" />
    <Rule Id="SA1124" Action="Info" />
    <Rule Id="SA1125" Action="Info" />
    <Rule Id="SA1127" Action="Info" />
    <Rule Id="SA1128" Action="Info" />
    <Rule Id="SA1129" Action="Info" />
    <Rule Id="SA1130" Action="Info" />
    <Rule Id="SA1131" Action="Info" />
    <Rule Id="SA1132" Action="Info" />
    <Rule Id="SA1133" Action="Info" />
    <Rule Id="SA1134" Action="Info" />
    <Rule Id="SA1135" Action="Info" />
    <Rule Id="SA1136" Action="Info" />
    <Rule Id="SA1137" Action="Info" />
    <Rule Id="SA1139" Action="Info" />
    <Rule Id="SA1200" Action="Info" />
    <Rule Id="SA1201" Action="Info" />
    <Rule Id="SA1202" Action="Info" />
    <Rule Id="SA1203" Action="Info" />
    <Rule Id="SA1204" Action="Info" />
    <Rule Id="SA1205" Action="Info" />
    <Rule Id="SA1206" Action="Info" />
    <Rule Id="SA1207" Action="Info" />
    <Rule Id="SA1208" Action="Info" />
    <Rule Id="SA1209" Action="Info" />
    <Rule Id="SA1210" Action="Info" />
    <Rule Id="SA1211" Action="Info" />
    <Rule Id="SA1212" Action="Info" />
    <Rule Id="SA1213" Action="Info" />
    <Rule Id="SA1214" Action="Info" />
    <Rule Id="SA1216" Action="Info" />
    <Rule Id="SA1217" Action="Info" />
    <Rule Id="SA1300" Action="Info" />
    <Rule Id="SA1302" Action="Info" />
    <Rule Id="SA1303" Action="Info" />
    <Rule Id="SA1304" Action="Info" />
    <Rule Id="SA1305" Action="Info" />
    <Rule Id="SA1306" Action="Info" />
    <Rule Id="SA1307" Action="Info" />
    <Rule Id="SA1308" Action="Info" />
    <Rule Id="SA1309" Action="Info" />
    <Rule Id="SA1310" Action="Info" />
    <Rule Id="SA1311" Action="Info" />
    <Rule Id="SA1312" Action="Info" />
    <Rule Id="SA1313" Action="Info" />
    <Rule Id="SA1314" Action="Info" />
    <Rule Id="SA1400" Action="Info" />
    <Rule Id="SA1401" Action="Info" />
    <Rule Id="SA1402" Action="Info" />
    <Rule Id="SA1403" Action="Info" />
    <Rule Id="SA1404" Action="Info" />
    <Rule Id="SA1405" Action="Info" />
    <Rule Id="SA1406" Action="Info" />
    <Rule Id="SA1407" Action="Info" />
    <Rule Id="SA1408" Action="Info" />
    <Rule Id="SA1410" Action="Info" />
    <Rule Id="SA1411" Action="Info" />
    <Rule Id="SA1412" Action="Info" />
    <Rule Id="SA1413" Action="Info" />
    <Rule Id="SA1500" Action="Info" />
    <Rule Id="SA1501" Action="Info" />
    <Rule Id="SA1502" Action="Info" />
    <Rule Id="SA1503" Action="Info" />
    <Rule Id="SA1504" Action="Info" />
    <Rule Id="SA1505" Action="Info" />
    <Rule Id="SA1506" Action="Info" />
    <Rule Id="SA1507" Action="Info" />
    <Rule Id="SA1508" Action="Info" />
    <Rule Id="SA1509" Action="Info" />
    <Rule Id="SA1510" Action="Info" />
    <Rule Id="SA1511" Action="Info" />
    <Rule Id="SA1512" Action="Info" />
    <Rule Id="SA1513" Action="Info" />
    <Rule Id="SA1514" Action="Info" />
    <Rule Id="SA1515" Action="Info" />
    <Rule Id="SA1516" Action="Info" />
    <Rule Id="SA1517" Action="Info" />
    <Rule Id="SA1518" Action="Info" />
    <Rule Id="SA1519" Action="Info" />
    <Rule Id="SA1520" Action="Info" />
    <Rule Id="SA1600" Action="Info" />
    <Rule Id="SA1601" Action="Info" />
    <Rule Id="SA1602" Action="Info" />
    <Rule Id="SA1604" Action="Info" />
    <Rule Id="SA1605" Action="Info" />
    <Rule Id="SA1606" Action="Info" />
    <Rule Id="SA1607" Action="Info" />
    <Rule Id="SA1608" Action="Info" />
    <Rule Id="SA1609" Action="Info" />
    <Rule Id="SA1610" Action="Info" />
    <Rule Id="SA1611" Action="Info" />
    <Rule Id="SA1612" Action="Info" />
    <Rule Id="SA1613" Action="Info" />
    <Rule Id="SA1614" Action="Info" />
    <Rule Id="SA1615" Action="Info" />
    <Rule Id="SA1616" Action="Info" />
    <Rule Id="SA1617" Action="Info" />
    <Rule Id="SA1618" Action="Info" />
    <Rule Id="SA1619" Action="Info" />
    <Rule Id="SA1620" Action="Info" />
    <Rule Id="SA1621" Action="Info" />
    <Rule Id="SA1622" Action="Info" />
    <Rule Id="SA1623" Action="Info" />
    <Rule Id="SA1624" Action="Info" />
    <Rule Id="SA1625" Action="Info" />
    <Rule Id="SA1626" Action="Info" />
    <Rule Id="SA1627" Action="Info" />
    <Rule Id="SA1629" Action="Info" />
    <Rule Id="SA1633" Action="Info" />
    <Rule Id="SA1634" Action="Info" />
    <Rule Id="SA1635" Action="Info" />
    <Rule Id="SA1636" Action="Info" />
    <Rule Id="SA1637" Action="Info" />
    <Rule Id="SA1638" Action="Info" />
    <Rule Id="SA1639" Action="Info" />
    <Rule Id="SA1640" Action="Info" />
    <Rule Id="SA1641" Action="Info" />
    <Rule Id="SA1642" Action="Info" />
    <Rule Id="SA1643" Action="Info" />
    <Rule Id="SA1648" Action="Info" />
    <Rule Id="SA1649" Action="Info" />
    <Rule Id="SA1651" Action="Info" />
    <Rule Id="SA1652" Action="Info" />
    <Rule Id="SX1101" Action="Info" />
    <Rule Id="SX1309" Action="Info" />
    <Rule Id="SX1309S" Action="Info" />
  </Rules>
</RuleSet>