@model TicketManagement.Domain.DTO.TMEventDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TMEventDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input asp-for="Img" class="form-control" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TMLayoutId" class="control-label"></label>
                <input asp-for="TMLayoutId" class="form-control" />
                <span asp-validation-for="TMLayoutId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartEvent" class="control-label"></label>
                <input asp-for="StartEvent" class="form-control" />
                <span asp-validation-for="StartEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndEvent" class="control-label"></label>
                <input asp-for="EndEvent" class="form-control" />
                <span asp-validation-for="EndEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllSeats" class="control-label"></label>
                <input asp-for="AllSeats" class="form-control" />
                <span asp-validation-for="AllSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusySeats" class="control-label"></label>
                <input asp-for="BusySeats" class="form-control" />
                <span asp-validation-for="BusySeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddlePriceBySeat" class="control-label"></label>
                <input asp-for="MiddlePriceBySeat" class="form-control" />
                <span asp-validation-for="MiddlePriceBySeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
