

<ul class="navbar-nav">
    @* проверять как то иначе *@
    @* отправлять запрос в котроллер, если токен валиден отображать одно, если нет- другое *@

    <li class="nav-item">
        <a class="nav-link" id="registerLink" asp-controller="User" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id = "loginLink" asp-controller="User" asp-action="Login">Login</a>
    </li>

</ul>
