@model IEnumerable<TicketManagement.Domain.DTO.TMLayoutDto>

@foreach (var item in Model)
{
    <span>@item.Id @item.Description</span><br />
}


@*<div class="form-group">
    <label asp-for="Time_volume" class="control-label col-4"></label>
    <select class="custom-select col-8" asp-for="Time_volume">

        @foreach (var item in Model)
        {
            <option value="@item.Description">@item.Description</option>
        }

    </select>
</div>*@
