<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="DefaultConnection"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=DESKTOP-137JOC2;Initial Catalog=TicketManagement.Database;Integrated Security=True" />
    <add name="DefaultConnection_test"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=DESKTOP-137JOC2;Initial Catalog=TicketManagement.Database_test;Integrated Security=True" />
  </connectionStrings>
</configuration>